.about {
    background-color: #262626;
    color: white;
}

.about-img {
    width: 100%;
    height: 35vh;
    background-image: url("slide4.jpeg.jpg");
    background-position: center;
    background-size: cover;
    animation: slide ease-in-out 12s;
}

.about-content {
    display: flex;
    align-items: stretch;
    padding: 30px;
    height: 65vh;
    box-sizing: border-box;
}

.about-text,
.about-progress {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

.about-divider {
    width: 1px;
    background-color: white;
    opacity: 0.3;
    margin: 5px 10px;
    height: auto;
}

.about-text h1 {
    margin-top: 0;
    font-size: 2em;
    color: white;
}

.about-text p {
    font-size: 1em;
    line-height: 1.6;
    color: #ccc;
}

.about-progress p {
    margin: 10px 0 5px;
    color: white;
    font-weight: bold;
}

.about-progress-container {
    width: 100%;
    background: #444;
    border-radius: 10px;
    overflow: hidden;
    height: 18px;
    margin-bottom: 10px;
}

.progress-bar {
    height: 100%;
    background: #ff004f;
    width: 0;
}

@keyframes progress-fill-90 {
    to {
        width: 90%;
    }
}
@keyframes progress-fill-80 {
    to {
        width: 80%;
    }
}
@keyframes progress-fill-70 {
    to {
        width: 70%;
    }
}
@keyframes progress-fill-50 {
    to {
        width: 50%;
    }
}

@keyframes progress-fill-60 {
    to {
        width: 50%;
    }
}


.p1 {
    animation: progress-fill-90 2s ease-out forwards;
}
.p2 {
    animation: progress-fill-80 2s ease-out forwards;
}
.p3 {
    animation: progress-fill-70 2s ease-out forwards;
}
.p4 {
    animation: progress-fill-60 2s ease-out forwards;
}
.p5 {
    animation: progress-fill-50 2s ease-out forwards;
}

@keyframes slide {
    0%, 10% {
        transform: translateX(0%);
    }
    15%, 25% {
        transform: translateX(-100vw);
    }
    30%, 40% {
        transform: translateX(-200vw);
    }
    45%, 55% {
        transform: translateX(-300vw);
    }
    60%, 70% {
        transform: translateX(-200vw);
    }
    75%, 85% {
        transform: translateX(-100vw);
    }
    90%, 100% {
        transform: translateX(0%);
    }
}
