.assignment {
    background-color: #262626;
    padding: 60px 20px;
    text-align: center;
}

.assignment-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.a-card {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 8px #ff004f;
    transition: transform 0.3s ease;
    min-height: 250px;
    width: 100%;
}

.a-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 12px #ff004f;
}
