#header {
    width: 100%;
    height: 100vh;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
}

.home {
    margin-top: 20%;
    font-size: 30px;
}

.home h1 {
    font-size: 60px;
    margin-top: 20px;
    font-family: Poppins;
    opacity: 0;
    animation: fadeSlideUp 2s ease forwards;
}

@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home p {
    font-family: cursive;
    font-size: 35px;
    opacity: 0;
    animation: fadeSlideUp 2s ease forwards;
    animation-delay: 0.4s;
}

.sachindu {
    color: #ff004f;
    font-family: cursive;
    text-shadow: -1px -1px 10px #ff004f;
}

@media all and (max-width: 1440px) {
    #header {
        background-image: url("background.png");
    }

    .home {
        margin-top: 28%;
        font-size: 28px;
    }

    .home h1 {
        font-size: 56px;
    }

    .home p {
        font-size: 33px;
    }
}


@media all and (max-width: 1024px) {
    #header {
        background-image: url("background.png");
    }

    .home {
        margin-top: 49%;
        font-size: 26px;
    }

    .home h1 {
        font-size: 50px;
    }

    .home p {
        font-size: 30px;
    }
}


@media all and (max-width: 768px) {
    #header {
    }

    .home {
        margin-top: 50%;
        font-size: 28px;
    }

    .home h1 {
        font-size: 44px;
    }

    .home p {
        font-size: 30px;
    }
}


@media all and (max-width: 425px) {
    #header {
        background-image: url("phone-background.png");
    }

    .home {
        margin-top: 80%;
        font-size: 18px;
    }

    .home h1 {
        font-size: 36px;
    }

    .home p {
        font-size: 23px;
    }
}


@media all and (max-width: 375px) {
    #header {
        background-image: url("phone-background.png");
    }

    .home {
        margin-top: 85%;
        font-size: 17px;
    }

    .home h1 {
        font-size: 40px;
    }

    .home p {
        font-size: 22px;
    }
}

@media all and (max-width: 320px) {
    #header {
        background-image: url("phone-background.png");
    }

    .home {
        margin-top: 100%;
        font-size: 16px;
    }

    .home h1 {
        font-size: 34px;
    }

    .home p {
        font-size: 25px;
    }
}


