.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /*horizontaly okkoma rap krnwa*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 99;
    padding: 5px 10%;
}

.nav-logo {
    cursor: pointer;
    width: 110px;
    /*margin-right: 0;*/
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
    padding: 5px 20px;
}

nav ul li a:hover {

    color: #ff004f;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

nav ul li a:hover {
    text-decoration: underline;
}

.menu-icon {
    display: none;
}

@media all and (max-width: 320px) {
    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .nav-logo {
        width: 65px;
    }
}

@media all and (max-width: 375px) {
    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .nav-logo {
        width: 73px;
    }
}

@media all and (max-width: 425px) {
    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .nav-logo {
        width: 81px;
    }
}

@media all and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .nav-logo {
        width: 81px;
    }
}
