#header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/Sachiya 72.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.home {
    margin-top: 20%;
    font-size: 30px;
    text-align: left;
}

.home h1 {
    font-size: 60px;
    margin-top: 20px;
    font-weight: 700;
    opacity: 1;
    letter-spacing: 1px;
}

.home p {
    font-family: 'Cursive', sans-serif;
    font-size: 35px;
    margin-top: 10px;
    animation-delay: 0.4s;
    opacity: 0.95;
}

.sachindu {
    color: #ff004f;
    font-family: 'Cursive', sans-serif;
    text-shadow: 0 0 10px #ff004f;
}

@media (max-width: 1440px) {
    .home {
        margin-top: 36%;
        font-size: 28px;
    }

    .home h1 {
        font-size: 56px;
    }

    .home p {
        font-size: 33px;
    }
}

@media (max-width: 1024px) {
    .home {
        margin-top: 38%;
        font-size: 26px;
    }

    .home h1 {
        font-size: 50px;
    }

    .home p {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .home {
        margin-top: 50%;
        font-size: 24px;
    }

    .home h1 {
        font-size: 44px;
    }

    .home p {
        font-size: 28px;
    }
}

@media (max-width: 425px) {
    #header {
        background-image: url("../images/Sachi.png");
    }

    .home {
        margin-top: 82%;
        font-size: 18px;
    }

    .home h1 {
        font-size: 36px;
    }

    .home p {
        font-size: 23px;
    }
}

@media (max-width: 395px) {
    .home {
        margin-top: 82%;
        font-size: 17px;
    }

    .home h1 {
        font-size: 38px;
    }

    .home p {
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    .home {
        margin-top: 85%;
        font-size: 17px;
    }

    .home h1 {
        font-size: 40px;
    }

    .home p {
        font-size: 22px;
    }
}

@media (max-width: 320px) {
    .home {
        margin-top: 290px;
        font-size: 16px;
    }

    .home h1 {
        font-size: 34px;
    }

    .home p {
        font-size: 25px;
    }
}
